TODO Dashboard Familias

<template rel="actions">

    <template rel="left">
        <button class="btn btn-default" type="button" onclick="products_home(); return false;">Volver a Productos</button>
    </template>
</template>