{% if table %}
{{ table|raw }}
{% else %}
<div class="alert alert-warning">No existen resultados.</div>
{% endif %}
<template rel="actions">

    <template rel="left">
        <button class="btn btn-default" type="button" onclick="brand_home(); return false;">Volver a Marcas</button>
    </template>

    <template rel="right">
        <button class="btn btn-primary" type="button" onclick="brand_families_new(); return false;">Agregar</button>
    </template>

</template>
<script>
    function brand_families_new() {
        BN.Route('', {cmd: 'families_new', 'BrandID' : '{{  BrandInfo.BrandID }}'});
    }
</script>