TODO Daschboar Maraca

<template rel="actions">

    <template rel="left">
        <button class="btn btn-default" type="button" onclick="brand_home(); return false;">Volver a Marcars</button>
    </template>
</template>