TODO Dashboard Familias

<template rel="actions">

    <template rel="left">
        <button class="btn btn-default" type="button" onclick="families_home(); return false;">Volver a Familias</button>
    </template>
</template>