<form name="{{ FormID }}" id="{{ FormID }}"  method="post" action="{{ ModuleUrl }}" class="form-horizontal">
    <input type="hidden" name="cmd" value="import" />
    <input type="hidden" name="ImportID" value="{{ ImportID }}" />

    {% for FieldInfo in FieldList %}
    <div class="form-group">
        <div class="col-sm-2"><strong>{{ FieldInfo.name|raw }}</strong>: </div>
        <div class="col-sm-10"><select name="ImportFieldID-{{ FieldInfo.id }}" class="form-control">
               <option value="">-</option>
            {% for ImportFieldInfo in ImportFields %}
                <option value="{{ ImportFieldInfo.id }}" {% if FieldInfo.name == ImportFieldInfo.name %}selected{% endif %}>{{ ImportFieldInfo.name|raw }}</option>
            {% endfor %}

        </select></div>
    </div>
    {% endfor %}


</form>


<div class="BNBottomMenu">

    <div class="pull-right">
        <button class="btn btn-default" onclick="BN.WinClose(); return false;" type="button">Cerrar</button>
        <button class="btn btn-primary" type="submit" form="{{ FormID }}" >Continuar</button>
    </div>

</div>

<script>

    BN.Form('{{ FormID }}', {ltype: 'full-modal'});

</script>